<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  
  </system.web>
  <connectionStrings>
    <add name="BBDConnectionString" connectionString="Data Source=199.79.62.22;Initial Catalog=DhabaDB;User ID=DhabaSA;Password=Abc123$*"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>